<div class="tint">
  <content class="whitecontent">
    <p>Welcome to the Home Page of John Brock.</p>
    <p>The site isn't much to look at right now, but I'll be building it in my spare time.</p>
    <p>I'm currently looking for employment. You can contact me at either of the following</p>
    <p>johnlrbrock@gmail.com</p>
    <p>(727) 36-444-89</p>
  </content>
</div>